.type1 {
  font-size: 0.75rem;
}

.type2 {
  font-size: 0.875rem;
}

.type3 {
  font-size: 1rem;
}

.type4 {
  font-size: 1.125rem;
}

.type5 {
  font-size: 1.25rem;
}

.type6 {
  font-size: 1.5rem;
}

.type7 {
  font-size: 1.75rem;
}

.type8 {
  font-size: 2rem;
}

.type9 {
  font-size: 2.25rem;
}

.type10 {
  font-size: 2.625rem;
}

.type11 {
  font-size: 3rem;
}

.type12 {
  font-size: 3.375rem;
}

.type13 {
  font-size: 3.75rem;
}

.type14 {
  font-size: 4.25rem;
}

.type15 {
  font-size: 4.75rem;
}

.type16 {
  font-size: 5.25rem;
}

.type17 {
  font-size: 5.75rem;
}
